*.png
rapport/images/
rapport/rapport_Mariac.aux
rapport/rapport_Mariac.fdb_latexmk
rapport/rapport_Mariac.log
rapport/rapport_Mariac.out
rapport/rapport_Mariac.scyntex.gz
rapport/rapport_Mariac.synctex.fls